/* Reset.css */
body, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #0a3d62; /* Color de fondo más oscuro */
    color: #dfe6e9; /* Color del texto principal más claro */
  }
  
  /* Estilos del encabezado */
  header {
    background-color: #0a3d62; /* Color de fondo del encabezado */
    color: #dfe6e9; /* Color del texto del encabezado */
    padding: 0 px;
    border: 1px solid #3c6382; /* Borde sólido de color azul más obscuro */
  }
  
  header:hover {
    border: 1px solid #60a3bc; /* Cambiar color del borde en el hover (más claro) */
  }
  
  header h1 {
    font-family: "Times New Roman", serif;
    margin: 0;
  }
  
  /* Estilos para el enlace del título */
  .Titulo1 a {
    color: #82ccdd; /* Color del texto (más claro) */
    text-decoration: none; /* Sin subrayado */
  }
  
  /* Estilos para el navegador en modo horizontal para pantallas grandes (mayor a 1024px) */
  @media screen and (min-width: 1025px) {
    .Navegador--large {
      display: flex;
      justify-content: center; /* Centrar horizontalmente el contenido */
    }
  
    .Navegador--large nav {
      display: flex;
      align-items: center; /* Centrar verticalmente el contenido */
    }
  
    .Navegador--large ul {
      list-style: none;
      display: flex;
      align-items: center; /* Centrar verticalmente el contenido */
    }
  
    .Navegador--large li {
      margin: 0 15px;
    }
  
    .Navegador--large li a {
      color: #82ccdd;
      text-decoration: none;
      padding: 10px 15px;
      transition: color 0.3s ease;
    }
  
    .Navegador--large li a:hover {
      color: #fff;
    }
  }
  
  /* Estilos para el navegador en modo vertical para pantallas pequeñas (hasta 1024px) */
  @media screen and (max-width: 1024px) {
    .Navegador--large {
      display: none; /* Ocultar el navegador grande */
    }
  
    .Navegador--small {
      display: flex;
      justify-content: center; /* Centrar horizontalmente el contenido */
    }
  
    .Navegador--small nav {
      display: flex;
      flex-direction: column; /* Alinear los elementos del menú vertical en columna */
      align-items: center; /* Centrar los elementos horizontalmente dentro del menú */
    }
  
    .Navegador--small ul {
      list-style: none;
      display: flex;
      flex-direction: column; /* Alinear los elementos del menú vertical en columna */
      align-items: center; /* Centrar los elementos horizontalmente dentro del menú */
    }
  
    .Navegador--small li {
      margin: 10px 0; /* Añadir espacio vertical entre los elementos del menú */
    }
  
    .Navegador--small li a {
      color: #82ccdd; /* Nuevo color del texto para enlaces del menú pequeño */
      padding: 8px 15px; /* Espaciado interior del menú desplegable en dispositivos pequeños */
      text-decoration: none; /* Quitar el subrayado del enlace */
      list-style: none; /* Quitar los puntos de lista */
      font-family: 'Arial', sans-serif; /* Nuevo tipo de letra */
      font-size: 20px; /* Nuevo tamaño de fuente */
      font-weight: bold; /* Negrita */
      transition: color 0.3s ease; /* Efecto de transición en el cambio de color */
    }
  
    .Navegador--small li a:hover {
      color: #fff; /* Nuevo color del texto al pasar el cursor sobre los enlaces */
      background-color: #000; /* Nuevo color de fondo al pasar el cursor sobre los enlaces */
      border-radius: 5px; /* Agregar bordes redondeados al menú desplegable */
      padding: 8px 15px; /* Ajustar el espaciado del menú desplegable al pasar el cursor */
    }
  }
  
  /* Estilos para el Navegador de dispositivos grandes (mayor a 1024px) */
  @media screen and (min-width: 1025px) {
    .Navegador--small {
      display: none; /* Ocultar el Navegador de dispositivos pequeños */
    }
  }
  
  /* Estilos para el Navegador de dispositivos pequeños (hasta 1024px) */
  @media screen and (max-width: 1024px) {
    .Navegador--large {
      display: none; /* Ocultar el Navegador de dispositivos grandes */
    }
  }
  
  /* Estilos para la sección Artículos Reveladores */
  .articulos {
    background-color: #0a3d62; /* Mismo color que el nav (más oscuro) */
    color: #dfe6e9; /* Color del texto (más claro) */
    padding: 20px;
  }
  
  /* Estilos para la lista de artículos */
  .ListaDeArticulos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  /* Estilos para cada artículo */
  .ListaDeArticulos article {
    width: 430px;
    max-width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
  }
  
  /* Estilos para las imágenes dentro de los artículos */
  .ListaDeArticulos img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  /* Estilos para los títulos dentro de los artículos */
  .ListaDeArticulos h4 {
    font-family: "Arial", sans-serif; /* Tipo de letra */
    color: #dfe6e9; /* Color del texto (más claro) */
    margin-bottom: 10px;
  }
  
  /* Estilo para los enlaces visitados */
  .ListaDeArticulos a:visited {
    color: #b2bec3; /* Color del texto para enlaces visitados (más claro) */
  }
  
  /* Estilos para los párrafos */
  .ListaDeArticulos p {
    font-family: "Arial", sans-serif; /* Tipo de letra */
    color: #dfe6e9; /* Color del texto (más claro) */
    margin-bottom: 10px;
    text-decoration: none; /* Sin subrayado para todos los párrafos */
  }
  
  /* Estilos para los párrafos dentro de un elemento strong */
  .ListaDeArticulos strong p {
    text-decoration: none; /* Sin subrayado para los párrafos dentro de strong */
  }
  
  /* Estilos para los enlaces */
  .ListaDeArticulos a {
    color: #82ccdd; /* Color del texto (más claro) */
    text-decoration: none; /* Sin subrayado para los enlaces */
  }
  
  /* Estilo para los enlaces visitados */
  .ListaDeArticulos a:visited {
    color: #b2bec3; /* Color del texto para enlaces visitados (más claro) */
  }
  
  /* Estilos del acerca de nosotros */
  .about {
    margin-top: 30px;
  }
  
  .about h2 {
    margin-bottom: 20px;
  }
  
  .Banner {
    width: 100%;
    max-width: 100%;
  }
  
  .Banner img {
    width: 100%;
    height: auto;
  }
  
  /* Estilos para el título 1 */
  .Titulo1 {
    text-align: center; /* Centrar el contenido del div */
    margin: 20px 0; /* Agregar un margen superior e inferior para separar el título */
  }
  
  .Titulo1 h1 {
    font-family: "Times New Roman", serif;
    font-size: 36px; /* Tamaño de fuente del título */
    font-weight: bold; /* Negrita */
  }
  
  /* Estilos para la sección Acerca de nosotros */
  .nosotros {
    background-color: #636e72; /* Mismo color que el nav (más oscuro) */
    color: #dfe6e9; /* Color del texto (más claro) */
    padding: 20px;
    text-align: center; /* Centrar el contenido */
  }
  
  /* Estilos para el párrafo dentro de la sección Acerca de nosotros */
  .nosotros p {
    font-family: "Arial", sans-serif;
    text-align: center;
  }
  
  footer {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Agregar esta propiedad para separar el contenido */
    background-color: #000; /* Color de fondo del footer (más oscuro) */
    color: #dfe6e9; /* Color del texto del footer (más claro) */
    padding: 10px;
  }
  
  .redes-sociales {
    display: flex;
    align-items: center;
  }
  
  .redes-sociales a {
    color: #dfe6e9; /* Color del texto (más claro) */
    text-decoration: none;
    font-size: 24px;
    margin-right: 10px;
  }