body, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #0a3d62; /* Color de fondo más oscuro */
    color: #dfe6e9; /* Color del texto principal más claro */
}

/* Estilos del encabezado */
header {
    background-color: #0a3d62; /* Color de fondo del encabezado */
    color: #dfe6e9; /* Color del texto del encabezado */
    padding: 20px;
    border: 1px solid #3c6382; /* Borde sólido de color azul más oscuro */
}

header:hover {
    border: 1px solid #60a3bc; /* Cambiar color del borde en el hover (más claro) */
}

header h1 {
    font-family: "Times New Roman", serif;
    font-size: x-small 56px;
    margin: 0;
}

header h2 {
    font-family: "Times New Roman", serif;
    font-size: x-small 32px;
    margin: 0;
}

/* Estilos para el enlace del título */
.Titulo1 a {
    color: #82ccdd; /* Color del texto (más claro) */
    text-decoration: none; /* Sin subrayado */
}

/* Estilo para el enfoque horizontal en hover */
@media only screen and (min-width: 768px) {
    ul li {
      display: inline-block;
      margin-right: 20px; /* Espacio entre elementos */
    }

    ul li:hover {
      transform: translateX(5px); /* Movimiento horizontal en hover */
    }
  }
/* Estilos para la sección Artículos Reveladores */
.articulos {
    background-color: #0a3d62; /* Mismo color que el nav (más oscuro) */
    color: #dfe6e9; /* Color del texto (más claro) */
    padding: 20px;
}

/* Estilos para la lista de artículos */
.ListaDeArticulos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Estilos para cada artículo */
.ListaDeArticulos article {
    width: 100%;
    max-width: 430px;
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
}

/* Estilos para las imágenes dentro de los artículos */
.ListaDeArticulos img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Estilos para los títulos dentro de los artículos */
.ListaDeArticulos h4 {
    font-family: "Arial", sans-serif; /* Tipo de letra */
    color: #dfe6e9; /* Color del texto (más claro) */
    margin-bottom: 10px;
}

/* Estilo para los enlaces visitados */
.ListaDeArticulos a:visited {
    color: #b2bec3; /* Color del texto para enlaces visitados (más claro) */
}

/* Estilos para los párrafos */
.ListaDeArticulos p {
    font-family: "Arial", sans-serif; /* Tipo de letra */
    color: #dfe6e9; /* Color del texto (más claro) */
    margin-bottom: 10px;
    text-decoration: none; /* Sin subrayado para todos los párrafos */
}

/* Estilos para los párrafos dentro de un elemento strong */
.ListaDeArticulos strong p {
    text-decoration: none; /* Sin subrayado para los párrafos dentro de strong */
}

/* Estilos para los enlaces */
.ListaDeArticulos a {
    color: #82ccdd; /* Color del texto (más claro) */
    text-decoration: none; /* Sin subrayado para los enlaces */
}

/* Estilo para los enlaces visitados */
.ListaDeArticulos a:visited {
    color: #b2bec3; /* Color del texto para enlaces visitados (más claro) */
}

/* Ajuste para dispositivos con resoluciones más pequeñas, como iPad mini (768 x 1024) o iPad Air (820 x 1180) */
@media screen and (max-width: 820px) {
    .ListaDeArticulos article {
        max-width: calc(50% - 20px); /* Mostramos dos artículos por fila en lugar de tres */
    }
}

/* Ajuste para dispositivos móviles más pequeños */
@media screen and (max-width: 480px) {
    .ListaDeArticulos article {
        max-width: 100%; /* Mostramos un artículo a pantalla completa */
    }
}

/* Estilos del acerca de nosotros */
.about {
    margin-top: 30px;
}

.about h2 {
    margin-bottom: 20px;
}

.Banner {
    width: 100%;
    max-width: 100%;
}

.Banner img {
    width: 100%;
    height: auto;
}

/* Estilos para el título 1 */
.Titulo1 {
    text-align: center; /* Centrar el contenido del div */
    margin: 20px 0; /* Agregar un margen superior e inferior para separar el título */
}

.Titulo1 h1 {
    font-family: "Times New Roman", serif;
    font-size: 36px; /* Tamaño de fuente del título */
    font-weight: bold; /* Negrita */
}

/* Estilos para la sección Acerca de nosotros */
.nosotros {
    background-color: #636e72; /* Mismo color que el nav (más oscuro) */
    color: #dfe6e9; /* Color del texto (más claro) */
    padding: 20px;
    text-align: center; /* Centrar el contenido */
}

/* Estilos para el párrafo dentro de la sección Acerca de nosotros */
.nosotros p {
    font-family: "Arial", sans-serif;
    text-align: center;
}

/* Estilos generales del footer */
footer {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Agregar esta propiedad para separar el contenido */
    background-color: #000; /* Color de fondo del footer (más oscuro) */
    color: #dfe6e9; /* Color del texto del footer (más claro) */
    padding: 10px;
}

/* Estilos para las redes sociales */
.redes-sociales {
    display: flex;
    align-items: center;
}

.redes-sociales a {
    color: #dfe6e9; /* Color del texto (más claro) */
    text-decoration: none;
    font-size: 24px;
    margin-right: 10px;
}

/* Estilos para el párrafo dentro del footer */
footer p {
    font-family: "Arial", sans-serif;
    text-align: center; /* Alinear el texto al centro en todos los dispositivos */
    margin: 0; /* Eliminar los márgenes para evitar espacios innecesarios */
}

/* Ajuste para dispositivos con resoluciones más pequeñas, como iPad Air (820 x 1180) */
@media screen and (max-width: 820px) {
    footer {
        flex-direction: column; /* Mostrar los elementos en columna en dispositivos más pequeños */
        align-items: center; /* Alinear todo al centro verticalmente */
    }
    
    .redes-sociales {
        margin-bottom: 10px; /* Agregar un margen inferior para separar las redes sociales del párrafo */
    }
}
